#!/bin/bash
set -e

source_up

# Check if Docker is running
if ! docker version > /dev/null; then
    echo "Docker is not running. Please start Docker and try again."
    exit 1
fi

EXIST=$([ "$$(docker ps -a | grep dev-vault)" ] && echo true || echo false)
RUNNING=$([ "${EXIST}" = "true" ] && docker container inspect -f '{{.State.Running}}' 'dev-vault')
if [ "${RUNNING}" != "true" ]; then
    echo "Run 'make dev' in root directory to start the dev environment."
    exit 1
fi

# Test exec
echo "Loaded secrets with exec:"
whisper exec -- go run main.go

# Test direnv
direnv_load whisper direnv

echo "Loaded secrets with direnv:"
echo "foo:   " $MY_APP_foo
echo "hello: " $MY_APP_hello