#!/bin/bash
source_up

source_env_if_exists .secrets

# Setup OIDC in dev vault
env_vars_required OIDC_DOMAIN OIDC_CLIENT_ID OIDC_CLIENT_SECRET
make dev-oidc -f ../Makefile

# Load secrets from vault
direnv_load whisper secrets --direnv

echo "Loaded secrets from vault:"
echo "foo:   " $MY_APP_foo
echo "hello: " $MY_APP_hello