#!/bin/bash
export PATH=$(pwd)/bin:$PATH

if direnv version &>/dev/null; then
  eval "$(devbox generate direnv --print-envrc)"
else
  echo "Please install devbox: https://www.jetify.com/docs/devbox/installing_devbox/"
fi

# The irony of loading secrets from a file in a snippet about loading secrets from a vault
source_env_if_exists .secrets