#!/bin/bash
export PATH=$(pwd)/bin:$PATH

if direnv version &>/dev/null; then
  eval "$(devbox generate direnv --print-envrc)"
else
  echo "Please install devbox: https://www.jetify.com/docs/devbox/installing_devbox/"
fi